<h1>Add a new Artist</h1>
<form action="/artists" method="post">
  <div class="form-group">
    <input id="n" name="name" class="form-control" type="text" placeholder="Artist Name"> 
    <br>
  </div>
  <button type="submit" class="btn btn-dark">Go!</button>
</form>
